* {
  margin: 0px;
}

body {
  overflow-x: hidden;
}

.container-coco {
  min-width: 98vw;
  min-height: 98vh;
}

.imglogo {
  background-color: rgba(0, 0, 0, 0);
  width: 240px;
}

.navbar {
  background-color: rgba(202, 58, 58, 0);
  color: white;
}

.navbarextra {
  padding: 0px;
}

.navbarextra1 {
  padding: 0px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.container-primary {
  background-image: url("../home/imagens/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100vw;
  min-height: 98vh;
  margin-right: 0;
}

.text {
  margin-top: 200px;
  font-weight: medium;
}

.arrow {
  width: 90px;
}

.arrow1 {
  text-align: center;
}

.btn {
  border: 2px solid white;
  width: 157px;
  height: 60px;
}

.container-secondary {
  background-image: url("../home/imagens/03.jpg");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text2 {
  margin-top: 200px;
}

.container-terc {
  background-image: url("../home/imagens/02.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.text3 {
  padding-top: 300px;
}

.container-four {
  background-image: url("../home/imagens/04.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.text4 {
  padding-top: 300px;
}

footer {
  text-align: center;
  height: 100px;
}

.p-footer {
  color: darkgrey;
}

.a-footer {
  text-decoration: none;
  color: white;
}

.navbarextra {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.navbarextra1 {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

@media (max-width: 1000px) {
  .container-primary {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 0px;
  }
  .navbarextra {
    width: 80vw;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    display: inline;
  }
  .navbarextra1 {
    width: 80vw;
    padding: 0px;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
  }
  .pages {
    display: none;
  }
}
@media (max-width: 377px) {
  .imglogo {
    width: 180px;
  }
  .navbarextra {
    width: 70px;
  }
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container-primary1 {
  background-image: url("../falcon9/imagens1/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: -1px;
}

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h1-middle {
  text-align: center;
  font-family: sans-serif;
  font-size: 90px;
}

.p-middle {
  font-size: 20px;
}

.middle1 {
  width: 100vw;
  height: 30vh;
}

.numbers {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 108px;
  text-align: center;
}

.textnum {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
}

.text-middle {
  font-size: 90px;
  text-align: center;
}

.text-middle1 {
  font-size: 20px;
}

.container-secondary2 {
  background-image: url("../falcon9/imagens1/02.jpg");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}
.container-secondary2 .falcon9Desc {
  opacity: 1;
  font-size: 22px;
  width: 640px;
  line-height: 50px;
  margin-left: 15%;
}

.container-third {
  height: 90vh;
  width: 100vw;
}

.four-cont {
  background-image: url("../falcon9/imagens1/08.jpg");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.four-cont .fourover {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
.four-cont .p-four1 {
  display: flex;
  justify-content: space-between;
}

.carrossel01 {
  background-image: url("../falcon9/imagens1/03.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.carrossel02 {
  background-image: url("../falcon9/imagens1/04.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.carrossel03 {
  background-image: url("../falcon9/imagens1/05.jpg");
  background-size: cover;
  height: 80vh;
}

.carrossel04 {
  background-image: url("../falcon9/imagens1/06.jpg");
  background-size: cover;
  height: 80vh;
}

.carrossel05 {
  background-image: url("../falcon9/imagens1/07.jpg");
  background-size: cover;
  height: 80vh;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrousel-baixo {
  height: 98vh;
}

body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container-primary2 {
  background-image: url("../human/imagens2/011.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
  min-height: 100vh;
}

.text-primari {
  width: 70vw;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-primari .h1-primari {
  font-size: 120px;
}
.text-primari .p-primari {
  font-size: 30px;
  font-weight: 100;
}
.text-primari .arrow {
  height: 80px;
  width: 110px;
}

.cont-middleh {
  min-width: 50vw;
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-middleh .middleh {
  font-size: 20px;
  text-align: center;
}
.cont-middleh .spanmd:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 21px;
  cursor: pointer;
}

.third1-container {
  background-image: url("../human/imagens2/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
  min-height: 100vh;
}
.third1-container .conteudo {
  margin-left: 55%;
  padding-top: 18%;
}

.four1-container {
  background-image: url("../human/imagens2/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
  min-height: 94vh;
}
.four1-container .conteudo1 {
  margin-left: 5%;
  padding-top: 20%;
}

.five1-container {
  background-image: url("../human/imagens2/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
  min-height: 94vh;
}
.five1-container .conteudo2 {
  margin-left: 55%;
  padding-top: 18%;
}

.six-container {
  background-image: url("../human/imagens2/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
  min-height: 94vh;
}
.six-container .conteudo1 {
  margin-left: 5%;
  padding-top: 20%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

.navbar {
  width: 100vh;
  margin: 0px;
  padding: 0px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.final-cont {
  width: auto;
  height: 30vh;
  text-align: center;
}
.final-cont .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.final-cont .bt-final {
  width: 15vw;
}

.span-final {
  color: darkgrey;
}

.span-final:hover {
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
